body {
    background-color: #eaf6f6;
}
hr {
    /* border-style: dotted none none none; */
    border-style: none;
    border-top-style: dotted;
    border-color: #cbc7c7;
    border-width: 10px;
    width: 3%;
}
h1 {
    color: #0F6292;
}
h3 {
    color: #3f979b;
}
